.lielais + .basic{
    align-content: center;
    margin: auto;
    width: 50%;
    background-color: whitesmoke;
    padding: 50px;
}
.aizmugure{
    width: 100px;
    height: 100px;
    display:inline-block;
    margin: auto;
    
    background-color: #D81E5B;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
     
    top: 50%;
    text-align: center;
    
      
            }
